body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.affichage-article{
    display: grid;
    grid-template-areas: "div div div";
    text-align: center;
    font-weight: bold;
}

.jeu-promo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(247, 132, 0);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.5s ease;
}

footer{
    background-color: rgb(180, 104, 17);
}

#retourHaut{
    background-color: rgb(247, 132, 0);
    border: 2px solid rgb(247, 132, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.jeu-promo:hover{
    transform: scale(1.1);
    background-color: rgb(180, 104, 17);
}

.return-top{
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(247, 132, 0);
    color :white;
    padding: 1em;
}

.logo_langue{
    padding: 2em;
    background-color: rgb(252, 151, 37);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select{
    margin-left: 30px;
}

.droits{
    text-align: center;
    padding: 2em;
}