@import url('../fonts/Ranade_Complete/Fonts/WEB/css/ranade.css');
@import url('../fonts/Tanker_Complete/Fonts/WEB/css/tanker.css');

* {
    margin: 0;
    padding: 0;
}

img.logo {
    width: 8%;
    border-radius: 15px;
}

.top_Header, .bottom_Header {
    display: flex;
    align-items: center;
}

.top_Header {
    height: 100px;
    background-color: blanchedalmond;
    padding: 10px 30px 10px 30px;
}

nav {
    width: 700px;
    margin-left: 100px;
}

nav > ul {
    display: flex;;
    width: 100%;
}

nav > ul > li {
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: 'Ranade-Bold', sans-serif;
}

i {
    font-size: 10px;
    padding-bottom: 10px;
}

.changeLanguage {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.languageFlag{
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 50%;
}

select#language {
    font-family: 'Ranade-Bold', sans-serif;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/dropdownIcon.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

select#language:focus {
    outline: none;
}

.dropdownIcon {
    width: 15px;
    filter: invert(1);
    margin-left: 5px;
}

.bottom_Header {
    justify-content: center;
}