body{
    background-color: #ffbf6627;
    margin: 0 auto;
    font-family: 'RedHatDisplay-Bold', sans-serif;
}

#title_acces, #confiance{
    text-align: center;
}

.main_section {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 90%; 
    padding: 0 20px; 
    box-sizing: border-box; 
    overflow-x: auto;
}

#acces_rapide, .affichage{
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
}

#acces_rapide{
    background-color: orange;
    border-radius: 0.2cm;
    width: 300px;
    position: fixed;
}

.affichage{
    margin-left: 8cm;
}

.titre_acces{
    cursor: pointer;
}

.titre_acces:hover{
    color: white;
    text-decoration: underline;
}