body{
    background-color: #ffbf6627;
    margin: 0 auto;
    font-family: 'RedHatDisplay-Bold', sans-serif;
}

#title_acces{
    text-align: center;
}

.main_section {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 90%; 
    padding: 0 20px; 
    box-sizing: border-box; 
    overflow-x: auto;
}

#acces_rapide, .affichage{
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
}

#acces_rapide{
    background-color: orange;
    border-radius: 0.2cm;
    width: 300px;
    position: fixed;
}

.affichage{
    margin-left: 8cm;
}

.titre_acces{
    cursor: pointer;
}

.titre_acces:hover{
    color: white;
    text-decoration: underline;
}

/*Partie footer*/
footer{
    background-color: rgb(180, 104, 17);
}

.return_top{
    display: block;
    text-align: center;
    background-color: rgb(247, 132, 0);
    color: white;
    cursor: pointer;
    padding: 0.2em;
}

.return_top:hover{
    background-color: rgb(255, 255, 255);
}

select{
    margin-left: 30px;
}

.return_top:hover{
    background-color: rgb(255, 153, 0);
    font-weight: bold;
}

.logo_langue{
    padding: 2em;
    background-color: rgb(252, 151, 37);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.droits{
    text-align: center;
    padding: 2em;
}

span, .footer_lien{
    color: white;
}

.footer_lien:hover{
    text-decoration: underline;
}
/*Fin partie footer*/

#confiance{
    text-align: center;
}