body
{
    display: grid;
    grid-template-columns: 15em 1fr;
}

.product
{
    width: 275px;
    margin: 10px 0px 0px 10px;
    background-color: #ffffff;
    padding-bottom: 10px;
    font-family: 'RedHatDisplay-Bold', sans-serif;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.product img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: solid #ff9500;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.product input
{
    border: none;
    font-family: 'RedHatDisplay-Bold', sans-serif;
    text-align: center;
    font-size: 22px;
    width: 50px;
}

.temp
{
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-wrap: wrap;
    margin-right: 4em;
    border-radius: 10px;
}

.product:hover
{
    background-color: rgb(226, 222, 222);
    border-radius: 5px;
}

.plmn
{
    margin-bottom: 10px;
}

.plmn :first-child
{
    padding: 0px 9px 0px 9px;
    margin-right: 5px;
}

.plmn :nth-child(3)
{
    padding: 0px 7px 0px 7px;
}

button
{
    background-color: #ffbf66;
    border:none;
    border-radius: 5px;
    border-bottom: solid #ff9500;
    font-size: 22px;
    font-family: 'RedHatDisplay-Bold', sans-serif;
    margin-left: 5px;
}

p
{
    padding-left: 5px;
}

button:hover
{
    background-color: #EA6615;
    border-bottom: solid #bf4a02;
}

img
{
    height: 10em;
    width: 10em;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

select
{
    margin-top: 10px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

label
{
    margin-top: 10px;
}

label[for="filtre"]
{
    margin-left: 10px;
}

label[for="order"]
{
    margin-left: 10px;
}

#inputmin, #inputmax
{
    margin-left: 10px;
    border: none;
    background-color: transparent;
    width: 6em;
    font-family: 'RedHatDisplay-Bold', sans-serif;
    font-size: 20px;
}

#inputmin::placeholder, #inputmax::placeholder
{
    color: black;
}

#outputmin, #outputmax, .min-range, .max-range
{
    margin-left: 5px;
}

#bcart
{
    width: 9em;
}

#prod
{
    grid-column: 2 / 3;
    display:flex;
    flex-wrap: wrap;
    font-size: 22px;
    font-family: 'RedHatDisplay-Bold', sans-serif;
}

#filtre
{
    grid-column: 1 / 2;
    font-size: 22px;
    font-family: 'RedHatDisplay-Bold', sans-serif;
}

#header
{
    grid-column: 1 / 3;
}

a{
    text-decoration: none;
    color: black;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}