body{
    background-color: #ffbf6627;
    margin: 0;
    font-family: 'RedHatDisplay-Bold', sans-serif;
}

.main_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* Partie affichage des catégories */
#liste_categories {
    background-color: #ffbf66;
    padding: 20px;
    width: 250px;
    border-radius: 0.5cm;
    margin-left: 0.5cm;
}
/* Fin de la partie affichage des catégories */


/* Partie affichage des produits */
#affichage_produit{
    padding: 2em;
    border-radius: 0.5cm; 
    margin: 0 auto;
}

.affichage_produit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.affichage_produit2{
    display: grid;
    grid-template-areas: "div div";
    gap : 20px;
    background-color: white;
}

.affichage_produit3{
    display: grid;
    grid-template-areas: "div div div";
    gap: 20px;
    background-color: white;
}

.img_produit{/* Taille de l'image de l'article*/
    width: 250px;
    height: 170px;
    border-radius: 0.2cm;
}

a, #lien_produit{
    color: black;
}

.no_produit{    
    width: 250px;
    text-align: center;
    font-weight: bold;
    background-color: orange;
    padding: 0.2em;
    border-radius: 0.2cm;
    margin-top: 3cm;
}
/* Fin de la partie affichage des produits */

/* Partie bouton du jeu */
.jeu_promo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 130px;
    height: 130px;
    background-color: rgb(247, 132, 0);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.5s ease;
}

.jeu_promo:hover{
    transform: scale(1.1);
    background-color: rgb(180, 104, 17);
}

.jeu_promo a{
    color : white;
}
/* Fin de la partie bouton du jeu */